<header class="header-area">
	<div class="navbar-area navbar-transparent">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<nav class="navbar navbar-expand-lg">
						<a class="navbar-brand" href="index.html">
						<%= image_tag('logo_white.png', class: 'top-logo')%>
						</a>
						<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarFive" aria-controls="navbarFive" aria-expanded="false" aria-label="Toggle navigation">
						<span class="toggler-icon"></span>
						<span class="toggler-icon"></span>
						<span class="toggler-icon"></span>
						</button> -->
						<div class="collapse navbar-collapse sub-menu-bar" id="navbarFive">
							<!-- <ul class="navbar-nav ml-auto">
								<li class="nav-item active">
									<a class="page-scroll" href="#home">Home</a>
								</li>
								<li class="nav-item">
									<a class="page-scroll" href="#about">About</a>
								</li>
								<li class="nav-item">
									<a class="page-scroll" href="#features">Features</a>
								</li>
								<li class="nav-item">
									<a class="page-scroll" href="#pricing">Pricing </a>
								</li>
								<li class="nav-item">
									<a class="page-scroll" href="#team">Team</a>
								</li>
								<li class="nav-item">
									<a class="page-scroll" href="#contact">contact</a>
								</li>
							</ul> -->
						</div>
						<div class="navbar-btn rounded-buttons d-none d-sm-inline-block">
							<a class="main-btn rounded-one" href="https://github.com/kocasp/shork" style="font-size: 35px;"><%= fa_icon "github" %></a>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div id="home" class="header-content-area">
		<div class="header-image">
			<%= image_tag('header.png', class: 'main-image') %>
		</div>
	</div>
</header>
<section id="features" class="features-area gray-bg pb-100 pt-90">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="section-title text-center pb-50">
					<h1 class="title">Shork - web crawler for <%= fa_icon "apple" %> shortcuts</h1>
					<p class="text">straight and simple...</p>
				</div>
			</div>
		</div>
		<div class="row no-gutters justify-content-center">
			<div class="col-md-12">
				<div class="single-features text-center">
					<h3 class="features-title"><a href="#">Enter parameters to generate a Shork.me link</a></h3>
					<p class="text">'p' param will be the page address and 's' will be a css selector</p>
			    <input class="form-control text" id="shork-url" aria-describedby="emailHelp" placeholder="Enter page URL" style="color: black">
			    <input class="form-control text" id="shork-selector" placeholder="Enter CSS selector" style="color: black">
					<p class="text">Generated link:</p>
					<input class="form-control text generated-link" id="shork-generated" style="color: black">
					<p class="text">Use the link in Shortcut's app <b>Get contents of</b> Web module. You can use and process the data however you want.</p>
					<!-- <h3 class="features-title"><a class="text example-link" id="shork-generated" href="http://shork.me?p=http://example.com&s=body > div > h1" target="_blank"></a></h1> -->
				  <!-- <button type="submit" class="btn btn-primary text" style="color: white">Submit</button> -->
				</div>
			</div>
		</div>
		<!-- <div class="row justify-content-center" style="margin-top: 100px">
			<div class="col-lg-6">
				<div class="section-title text-center pb-50">
					<h3 class="title">Example use case</h3>
					<p class="text">Lets say you want to make a shortcut that sends a message to your friend about current main news on CNN.</p>
				</div>
			</div>
		</div> -->
	</div>
</section>
<!-- <section id="about-2" class="about-area d-lg-flex align-items-center">
	<div class="container">
		<div class="row justify-content-end">
			<div class="col-lg-6">
				<div class="about-content">
					<h5 class="sub-title">Get the address and the content selector</h5>
					<p class="text">1. Open the page with the content of your interest. Current url will be your <b>address</b></p>
					<p class="text">2. Open Chrome Dev Tools and select element with your content. Then right click on highlighted code part and select COPY > COPY SELECTOR. The selector is now in your clipboard.</p>
					<p class="text">3. Paste the address and selector to the form above to generate Shork link, or create it manually.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="about-image d-flex align-items-center">
		<div class="image">
			<img src="assets/images/about2.svg" alt="about">
		</div>
	</div>
</section> -->
<a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>

<script type="text/javascript">
	$( "#shork-url" ).keyup(function() { updateUrl() });
	$( "#shork-selector" ).keyup(function() { updateUrl() });

	function updateUrl() {
		let url = encodeURIComponent($( "#shork-url" ).val());
		if (url.toLowerCase().substring(0, 4) != 'http'){
			url = 'http://'+url
		};

		const selector = encodeURIComponent($( "#shork-selector" ).val());
		const generated = 'http://shork.me/?p='+url+'&s='+selector
		if ($( "#shork-url" ).val() != '' && $( "#shork-selector" ).val() != ''){
		  $( "#shork-generated" ).val(generated)
		}
	}
</script>
