/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require LineIcons
 *= require default
 *= require style
 *= require_tree .
 *= require_self
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";
 @import "font-awesome";

.header-image{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(asset_path("isometric_background.png"));
}

.main-image {
  margin-top: 200px;
  margin-bottom: 200px;
  max-width: 900px;
}

.top-logo{
  max-width: 75px;
}

.single-features .features-title .example-link{
  color: #54D3DC;
}

.single-features:hover .example-link{
  color: #fff;
}
.form-control.text.generated-link{
  color: black;
  border-color: deepskyblue;
  border-width: 2px;
  font-size: 25px;
}
